.Praise{
    color: silver; 
    background-color: darkgrey;
}
.Glory{
    color: rgb(207, 191, 102); 
    background-color: lightskyblue;
    
}
.Wosrship{
    color: navajowhite;
}
.Nigeria{
    margin-left: 50%;
}
